@charset "utf-8";
/* CSS Document */



.wrapper
{
	width: 1024px;
	height: 3585px;
	background-color: white;
	margin: 0 auto;
}

.menu
{
	width: 1024px;
	height: 60px;
	background-color: white;
	position: relative;
	margin: 0 auto;
}

.logo
{
	
	width: 120px;
	height: 60px;
	background: url("../img/Untitled-1.gif") no-repeat;
	position: absolute;
	left: 130px;
}

.home
{
    width: 70px;
    height: 60px;
    background-color: #FFFFFF;
    position: absolute;
    left: 250px;
    text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}

@font-face {
  font-family: menufont;
  src: url("../Roboto-Black.ttf");
}

.product
{
	width: 100px;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 320px;
	text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}

.team1
{
	width: 70px;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 420px;
	text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}

.testimonials
{
	width: 120px;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 490px;
	text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}

.gallery
{
	width: 90px;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 610px;
	text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}


.contact
{
	width: 110px;
	height: 60px;
	background-color: white;
	position: absolute;
	left: 700px;
	text-align: center;
    line-height: 60px;
	font-family: menufont;
	font-size: 16px;
}

.home .product .team1 .testimonials .gallery .contact
{
	transition:all 0.3s ease;
}

.home:hover
{
	background-color: whitesmoke;
}

.product:hover
{
	background-color: whitesmoke;
}

.team1:hover
{
	background-color: whitesmoke;
}

.testimonials:hover
{
	background-color: whitesmoke;
}

.gallery:hover
{
	background-color: whitesmoke;
}

.contact:hover
{
	background-color: whitesmoke;
}

.header
{
	width: 1024px;
	height: 480px;
	background: url("../header.gif") no-repeat;
	margin: 0 auto;
	position: relative;
}

.w3-display-container
{
	width: 1024px;
	height: 480px;
}

.w3-content
{
	width: 1024px;
	height: 480px;
}

.w3-button
{
	width: 30px;
	height: 30px;
	background-color: ghostwhite;
	position: absolute;
	top: 225px;
	left: 20px;
}

.w3-display-left
{
	width: 30px;
	height: 30px;
	background-color: ghostwhite;
	position: absolute;
	top: 225px;
	left: 20px;
}

.w3-display-right
{
	width: 30px;
	height: 30px;
	background-color: ghostwhite;
	position: absolute;
	top: 225px;
	left: 974px;
}
.readmore
{
	width: 120px;
	height: 40px;
	background-color: darkgreen;
	position: absolute;
	top: 350px;
	left: 114.5px;
	text-align: center;
    line-height: 40px;
	font-family: menufont;
	font-size: 12px;
	color: white;
}

.readmore:hover
{
	background-color: darkseagreen;
}

@font-face {
  font-family: headfont;
  src: url("../comic.ttf");
}

@font-face {
  font-family: textfont;
  src: url("../framd.ttf");
}

.headertext
{
	width: 300px;
	height: 40px;
	position: absolute;
	top: 270px;
	left: 114.5px;
	font-family: textfont;
	font-size: 12px;
	color: black;
}

.eco
{
	width: 270px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 114.5px;
	font-family: headfont;
	font-size: 50px;
	color: darkgreen;
	font-weight: bolder;
}
.vegetable
{
	width: 795px;
	height: 690px;
	background-color:white;
	margin: 0 auto;
	position: relative;
}

.box1
{
	width: 250px;
	height: 95px;
	border: thin;
	border-style: solid;
	border-color: lightgray;
	position: absolute;
	top: 20px;
}

.box2
{
	width: 250px;
	height: 95px;
	border: thin;
	border-style: solid;
	border-color: lightgray;
	position: absolute;
	top: 20px;
	left: 272.5px;
}

.box3
{
	width: 250px;
	height: 95px;
	border: thin;
	border-style: solid;
	border-color: lightgray;
	position: absolute;
	left: 545px;
	top: 20px;
}

.smallbox
{
	width: 230px;
	height: 75px;
	position: absolute;
	border: thin;
	border-style: solid;
	border-color: lightgray;
	top: 10px;
	left: 10px;
	font-family: textfont;
	font-size: 20px;
	color: darkgreen;
	text-align: center;
	line-height: 75px;
}

.smallbox:hover
{
	background-color: darkgreen;
	color: white;
}

.nameveg
{
	width: 103px;
	height: 13px;
	font-family: menufont;
	font-size: 11px;
	color: black;
	text-align: center;
	line-height: 13px;
	position: absolute;
	top: 200px;
	left: 40px;
}

.price
{
	width: 103px;
	height: 13px;
	font-family: textfont;
	font-size: 10px;
	color: black;
	text-align: center;
	line-height: 13px;
	position: absolute;
	top: 215px;
	left: 40px;
}
.veg1
{
	width: 387px;
	height: 485px;
	background:url("../img/veg1.gif");
	position: absolute;
	top: 140px;
}

.veg6
{
	width: 387px;
	height: 485px;
	background:url("../img/veg6.gif");
	position: absolute;
	top: 20px;
	left:406px;
}
.veg2
{
	width: 183px;
	height: 189px;
	background:url("../img/veg2.gif");
	position: absolute;
	top: 140px;
	left: 407px;
}

.veg7
{
	width: 183px;
	height: 189px;
	background: url("../img/veg7.gif");
	position: absolute;
	top: 20px;
}


.veg3
{
	width: 183px;
	height: 189px;
	background:url("../img/veg3.gif");
	position: absolute;
	top: 140px;
	left: 610px;
}

.veg8
{
	width: 183px;
	height: 189px;
	background: url("../img/veg8.gif");
	position: absolute;
	top: 20px;
	left: 203px;
}

.veg4
{
	width: 183px;
	height: 189px;
	background:url("../img/veg4.gif");
	position: absolute;
	top: 396px;
	left: 407px;
}

.veg9
{
	width: 183px;
	height: 189px;
	background: url("../img/veg9.gif");
	position: absolute;
	top: 270px;
}

.veg5
{
	width: 183px;
	height: 189px;
	background: url("../img/veg5.gif");
	position: absolute;
	top: 396px;
	left: 610px;
}

.veg10
{
	width: 183px;
	height: 189px;
	background:url("../img/veg10.gif");
	position: absolute;
	top: 270px;
	left: 203px;
}

.veg1:hover
{
	transform: scale(1.01);
	box-shadow:
                1px 1px darkgreen,
                2px 2px darkgreen,
                3px 3px darkgreen;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.veg6:hover
{
	transform: scale(1.01);
	box-shadow:
                1px 1px darkgreen,
                2px 2px darkgreen,
                3px 3px darkgreen;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.veg2:hover
{
	transform: scale(1.01);
}
.veg3:hover
{
	transform: scale(1.01);
}
.veg4:hover
{
	transform: scale(1.01);
}
.veg5:hover
{
	transform: scale(1.01);
}
.veg7:hover
{
	transform: scale(1.01);
}
.veg8:hover
{
	transform: scale(1.01);
}
.veg9:hover
{
	transform: scale(1.01);
}
.veg10:hover
{
	transform: scale(1.01);
}
.approach
{
	width: 1024px;
	height: 350px;
	background:url("../img/approach.gif") no-repeat;
	margin: 0 auto;
	position:relative;
}

.oura
{
	width: 250px;
	height: 40px;
	background-color: transparent;
	font-family: headfont;
	font-size: 30px;
	color: white;
	text-align: center;
	font-weight: bolder;
	line-height: 40px;
	position: absolute;
	top: 70px;
	left: 387px;
}
.atext
{
	width: 400px;
	height: 50px;
	background-color: transparent;
	font-family: textfont;
	font-size: 12px;
	color: white;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 312px;
}
.viewmore
{
	width: 120px;
	height: 40px;
	background-color: darkgreen;
	position: absolute;
	top: 220px;
	left: 452px;
	text-align: center;
    line-height: 40px;
	font-family: menufont;
	font-size: 12px;
	color: white;
}

.viewmore:hover
{
	background-color: darkseagreen;
}
.vegetable2
{
	width: 795px;
	height: 520px;
	background-color: white;
	margin: 0 auto;
	position: relative;
}

.team
{
	width: 795px;
	height: 395px;
	background-color: transparent;
	margin: 0 auto;
	position: relative;
}

.ourteam
{
	width: 200px;
	height: 40px;
	background-color: transparent;
	font-family: headfont;
	font-size: 30px;
	color: black;
	text-align: center;
	font-weight: bolder;
	line-height: 40px;
	position: absolute;
	top: 20px;
	left: 297.5px;
}

.teamimg1
{
	width: 250px;
	height: 275px;
	background: url("../img/team1.gif");
	position: absolute;
	top:80px;
}

.teamimg1:hover
{
	transform: scale(0.95);
}

.teamimg2
{
	width: 250px;
	height: 275px;
	background: url("../img/team2.gif");
	position: absolute;
	top: 80px;
	left: 272.5px;
}

.teamimg2:hover
{
	transform: scale(0.95);
}

.teamimg3
{
	width: 250px;
	height: 275px;
	background: url("../img/tean3.gif");
	position: absolute;
	top: 80px;
	left: 545px;
}

.teamimg3:hover
{
	transform: scale(0.95);
}

.partner
{
	width: 1024px;
	height: 320px;
	background: #F1EFEB;
	margin: 0 auto;
	position: relative;
}
.ourpartner
{
	width: 250px;
	height: 40px;
	background-color: transparent;
	font-family: headfont;
	font-size: 30px;
	color: black;
	text-align: center;
	font-weight: bolder;
	line-height: 40px;
	position: absolute;
	top: 70px;
	left: 387px;
}
.partnerimg1
{
	width: 185px;
	height: 100px;
	background: url("../img/p1.gif");
	background-color: white;
	border-style: solid;
	border-color: #BEBEBE;
	position: absolute;
	top: 170px;
	left: 112px;
}

.partnerimg2
{
	width: 185px;
	height: 100px;
	background: url("../img/p2.gif");
	background-color: white;
	border-style: solid;
	border-color: #BEBEBE;
	position: absolute;
	top: 170px;
	left: 317px;
}

.partnerimg3
{
	width: 185px;
	height: 100px;
	background: url("../img/p3.gif");
	background-color: white;
	border-style: solid;
	border-color: #BEBEBE;
	position: absolute;
	top: 170px;
	left: 522px;
}

.partnerimg4
{
	width: 185px;
	height: 100px;
	background: url("../img/p4.gif");
	background-color: white;
	border-style: solid;
	border-color: #BEBEBE;
	position: absolute;
	top: 170px;
	left: 727px;
}

.partnerimg1:hover
{
	transform: scale(1.1);
}

.partnerimg2:hover
{
	transform: scale(1.1);
}

.partnerimg3:hover
{
	transform: scale(1.1);
}

.partnerimg4:hover
{
	transform: scale(1.1);
}
.info
{
	width: 1024px;
	height: 370px;
	background: url("../img/info.gif");
	background-color: white;
	margin: 0 auto;
	position: relative;
}

aside
{
	width: 420px;
	height: 60px;
	background-color: transparent;
	position: absolute;
	top: 50px;
	left: 524px;
}

.col
{
	width: 190px;
	height: 40px;
	background-color: transparent;
	float: left;
	margin: 10px;
}

.col1
{
	width: 400px;
	height: 40px;
	background-color: transparent;
	float: left;
	margin: 10px;
}

.col2
{
	width: 150px;
	height: 40px;
	background-color: darkgreen;
	margin: 10px;
}

input
{
	width: 190px;
	height: 40px;
	background:#EDEDED;
	border-style: none;
	font-family: textfont;
}

.footer
{
	width: 1024px;
	height: 350px;
	background-color: #323232;
	margin: 0 auto;
	position: relative;
}
.logo2
{
	
	width: 120px;
	height: 60px;
	background: url("../img/logofooter.gif") no-repeat;
	position: absolute;
	left: 130px;
	top: 50px;
}

.textb
{
	width: 140px;
	height: 80px;
	font-family: textfont;
	font-size: 11px;
	color: darkgray;
	text-align: left;
	position: absolute;
	top: 120px;
	left: 130px;
}

.tel
{
	width: 150px;
	height: 30px;
	position: absolute;
	background: url("../img/tel.gif");
	top:200px;
	left: 130px;
}

.time
{
	width: 200px;
	height: 30px;
	position: absolute;
	background: url("../img/time.gif");
	top: 230px;
	left: 130px;
}

.location
{
	width: 200px;
	height: 45px;
	position: absolute;
	background: url("../img/location.gif");
	top: 260px;
	left: 130px;
}
.line
{
	width: 150px;
	height: 2px;
	background-color: whitesmoke;
	position: absolute;
	top: 190px;
	left: 130px;
}

.newsletter
{
	width: 250px;
	height: 15px;
	font-family: textfont;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 390px;
	color: whitesmoke;
}

.email
{
	width: 250px;
	height: 40px;
	position: absolute;
	left: 390px;
	top: 150px;
}
.sub
{
	width: 250px;
	height: 40px;
	position: absolute;
	background-color: white;
	left: 390px;
	top: 200px;
	font-family: textfont;
	font-size: 13px;
	text-align: center;
	line-height: 40px;
	color: black;
}
.site
{
	width: 20px;
	height: 20px;
	position: absolute;
	top:268px;
}

.site:hover
{
	transform: scale(0.9);
}
.sub:hover
{
	background-color: red;
	color: white
}

.gallery2
{
	width: 250px;
	height: 15px;
	font-family: textfont;
	font-size: 14px;
	position: absolute;
	top: 80px;
	left: 730px;
	color: whitesmoke;
}

.img
{
	width: 90px;
	height: 90px;
	background-color: aqua;
	position: absolute;
	top: 100px;
	left: 730px;
}

.imgshowmore
{
	width: 80px;
	height: 80px;
	background-color: white;
	position: absolute;
	top: 5px;
	left: 5px;
	opacity: 0;
	font-family: textfont;
	text-align: center;
	line-height: 80px;
	font-size: 12px;
	color: black;
}
.imgshowmore:hover
{
	 opacity: 0.5;
}
.copyright
{
	width: 1024px;
	height: 50px;
	background-color: black;
	margin: 0 auto;
	position: relative;
}
.copyrighttext
{
	width: 500px;
	height: 30px;
	position: absolute;
	top: 10px;
	text-align: left;
	line-height: 39px;
	font-family: textfont;
	color: gainsboro;
	font-size: 11px;
	left: 130px;
	
}
